@model FazendaUniao.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<div id="tabela-input" class="container custom-container">
    <h1>Deletar Clientes</h1>

    <dl id="detalhes-cliente" class="row">
        <div>
            <dt id="detalhes-dt" class="col-sm-2">Nome do Cliente</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.NomeCliente)</dd>
        </div>

        <div>
            <dt id="detalhes-dt" class="col-sm-2">CNPJ</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.CnpjCliente)</dd>
        </div>

        <div>
            <dt id="detalhes-dt" class="col-sm-2">Endereço</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.EnderecoCliente)</dd>
        </div>

        <div>
            <dt id="detalhes-dt" class="col-sm-2">Telefone</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.TelefoneCliente)</dd>
        </div>

        <div>
            <dt id="detalhes-dt" class="col-sm-2">E-mail</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.EmailCliente)</dd>
        </div>
    </dl>
        <div id="botao-cadastro">
            <button type="button" class="btn btn-danger" onclick="showDeleteModal()">Deletar</button>
            <a class="btn btn-light" asp-action="Index">Voltar</a>
        </div>


        <!-- Modal de confirmação de exclusão -->
        <div id="confirmModal" class="modal">
            <div class="modal-content">
                <p id="confirmMessage">Deseja realmente deletar este fornecedor?</p>
                <button id="botaoConfimacao" onclick="confirmDelete()" class="btn btn-danger">Confirmar</button>
                <button id="botaoConfimacao" type="button" onclick="closeModal()" class="btn btn-secondary">Cancelar</button>
            </div>
        </div>

        <!-- Formulário escondido para submeter a exclusão -->
        <form id="deleteForm" asp-action="Delete" method="post" style="display:none;">
        <input type="hidden" asp-for="ClienteId" id="ClienteId" />
        </form>
</div>