@model FazendaUniao.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<div id="tabela-input" class="container custom-container">
    <h1>Detalhes do Cliente</h1>

    <dl id="detalhes-cliente" class="row">
        <div>
            <dt id="detalhes-dt" class="col-sm-2">Nome do Cliente</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.NomeCliente)</dd>
        </div>
        <div>
            <dt id="detalhes-dt" class="col-sm-2">CNPJ</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.CnpjCliente)</dd>
        </div>
        <div>
            <dt id="detalhes-dt" class="col-sm-2">Endereço</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.EnderecoCliente)</dd>
        </div>

        <div>
            <dt id="detalhes-dt" class="col-sm-2">Telefone</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.TelefoneCliente)</dd>
        </div>

        <div>
            <dt id="detalhes-dt" class="col-sm-2">E-mail</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.EmailCliente)</dd>
        </div>
    </dl>

    <div id="botao-cadastro" class="form-group">
        <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.ClienteId">Editar</a>
        </div>
        <div>
            <a class="btn btn-light" asp-action="Index">Voltar</a>
        </div>
    </div>
</div>

